@import "mixins.less";

html, body {
	width: 100%;
	height: 100%;
	background: #FFF;
}

p, a, a:hover, a:active, a:focus, a:visited {
	font-family: 'Open Sans';
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

.info {
	position: absolute;
	width: 50vw;
	margin-top: 10vh;
	text-align: center;
	z-index: 10;
	img {
		padding: 0 25px;
		width: 75%;
	}
	.small-viewport({
		position: relative;
		width: 100vw;
	});
}

.work {
	img {
		position: absolute;
		max-height: 80vh;
		width: auto;
		margin: 10vh auto;
		left: 0;
		right: 0;
		z-index: 9;
		.small-viewport({
			position: relative;
			left: auto;
			right: auto;
			display: block;
			margin: 10vh auto;
		});
	}
}

.emoji {
	position: absolute;
	left: auto;
	margin: 0 0;
	right: 50px;
	bottom: 50px;
	height: 50px;
	.small-viewport({
		position: relative;
		bottom: 0;
		right: 0;
		float: right;
		margin-right: 25px;
		margin-bottom: 25px;
	});
}